body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #251F41;
}

#inputWord {
  width: 70%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#result {
  width: 70%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #f4f4f4;
  border-radius: 0px;
  background-color: #f4f4f4;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
/* 表格样式 */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* 表头样式 */
th {
  background-color: #f2f2f2;
  color: #333;
  padding: 8px;
  border: 1px solid #ccc;
}

/* 表格单元格样式 */
td {
  padding: 8px;
  border: 1px solid #ccc;
}

/* 表格行样式 */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 表格边框样式 */
table, th, td {
  border: 1px solid #ccc;
}
