/* 重置一些基本元素的默认样式 */
*, *:before, *:after {
  box-sizing: border-box; /* 使所有元素的宽高计算方式统一为盒模型 */
}

/* 设定基本元素的默认边距和内边距 */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* 设置 body 的字体、背景色和字体颜色 */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 默认字体设置 */
  background-color: #f4f4f4; /* 背景色 */
  color: #333; /* 字体颜色 */
}

/* 布局容器样式 */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 最小高度设置为视口高度，确保至少占满整个屏幕 */
}

/* 页头样式 */
.header {
  display: flex; /* 使用 flex 布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: flex-start; /* 水平方向上靠左对齐 */
  padding: 1rem; /* 您已有的内边距 */
  background-color: #fff; /* 您已有的背景颜色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 您已有的阴影效果 */
}

/* 网站标题样式 */
.site-title {
  font-size: 2em;
  margin-left: 15px;     /* 左边距为15px，保持一点距离屏幕边缘 */
  margin-right: 20px;    /* 右边距为15px，与输入框之间的空白 */
  left: 20px;
  top: 10px;
  display: inline-block;  /* 使标题以内联块状元素显示 */
  vertical-align: middle;    /* 垂直对齐方式设为顶部对齐 */
}

/* 搜索框样式 */
.search-box {
  display: inline-block;
}

/* 输入框样式 */
input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 边框圆角 */
}

/* 按钮样式 */
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: white;
  cursor: pointer; /* 鼠标悬停时显示指针形状 */
}

/* 按钮悬停效果 */
button:hover {
  background-color: #0056b3; /* 按钮悬停时的背景色 */
}

/* 给搜索框中的第一个按钮添加右边距 */
.search-box button:nth-of-type(1) {
  margin-right: 10px;
}

/* 主内容区样式 */
.content {
  display: flex;
  justify-content: flex-start; /* 子项向容器的起始位置对齐 */
  align-items: flex-start; /* 子项向容器的顶部对齐 */
  flex-wrap: nowrap; /* 子项不换行 */
  overflow-x: auto; /* 超出内容水平滚动 */
  gap: 1rem; /* 子项间隙 */
  padding: 2rem; /* 内边距 */
}

/* 图书结果样式 */
.book-results {
  flex: 0 0 auto; /* 不伸缩，宽度由内容决定 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  overflow-x: auto; /* 内容超出时水平滚动 */
}

.book-results h2 {
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding: 0.5rem;
  background-color: #F5F5F5;
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
}

/* 表格样式 */
.book-results table {
  border-collapse: collapse;
  width: auto; /* 宽度由内容决定 */
}

/* 表格单元格样式 */
.book-results th, .book-results td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ddd;
  min-width: 1em;
  max-width: 200px;
  word-break: break-all; /* 长词换行 */
}

/* 表格标题样式 */
.book-results th {
  background-color: #F5F5F5; /* 自定义背景颜色，此处为示例颜色 */
  color: black; /* 设置标题文字颜色为白色 */
  text-align: center; /* 标题文字居中 */
  word-break: keep-all; /* 标题内容不换行 */
}


/* 页头固定定
